<form id="formChange" name="dataChange" action="">
    <div id="formBox">
        <div class="formRow">
            <div class="formColumn">Name</div>
            <div class="formColumn">Value</div>
            <div class="formColumn"></div>
        </div>
    </div>
    <br/>
    <input type='submit' value='Submit' class='formSubmitButton'/>
    <button id='addVal' type='button'>Add</button>
</form>

<script>
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    var elements = [];
    var header = `<div class="formRow header">
                    <div class="formColumn">Name</div>
                    <div class="formColumn">Value</div>
                    <div class="formColumn"/>
                  </div>`;

    $(document).ready(function(){
        socket.on("update", function (msg) { 
            let parse = JSON.parse(msg);
            $("#formBox").empty();
            $("#formBox").append(header);
            jQuery.each(parse, function (i, val) {
                let uid = uuidv4();
                let elName  = $(`<div class='formColumn'><input type='text' name='elementName[]' value='${i}' class='formInputName formElement'/></div>`);
                let el1     = $(`<div class='formColumn'><input type='text' name='value[]' value='${val}' class='formInputValue formElement'/></div>`);
                let el2     = $(`<div class='formColumn'><button type='button' onclick='deleteVal("${uid}")' class='formDelButton formElement'>Delete</button></div>`);
                let div     = $("<div class='formRow'>").append(elName, el1, el2);
                $("#formBox").append(div);
                elements[uid] = {"elementName":elName, "input":el1, "button":el2, "div":div};
            });

            //$("#formBox").append("<input type='submit' value='Submit' class='formSubmitButton'/><br/><br/>");
        });
        socket.emit("update");
        
        $("#addVal").on("click", function(){
            let uid = uuidv4();
            let elName  = $("<div class='formColumn'><input type='text' name='elementName[]' class='formInputName formElement'/></div>")
            let el1     = $("<div class='formColumn'><input type='text' name='value[]' class='formInputValue formElement'/></div>");
            let el2     = $(`<div class='formColumn'><button type='button' onclick='deleteVal("${uid}")' class='formDelButton formElement'>Delete</button></div>`);
            let div     = $("<div class='formRow'>").append(elName, el1, el2);
            $("#formBox").append(div);
            elements[uid] = {"elementName":elName, "input":el1, "button":el2, "div":div};
        });
    });

    //remove an element from a form
    function deleteVal(keyName){
        elements[keyName].div.remove();
        delete elements[keyName];
    }

    $("form").on("submit", function(e){
        e.preventDefault();
        var dataString = $(this).serializeArray();
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/formChange",
            data: dataString,
            success: function(data){
                $("input[type='text']").each(function(i){ $(this).val(''); });
                $(".errors").remove();
                console.log("Success!");
                socket.emit('update');
            },
            //error handling
            error: function (data) {
                //associative array (the name of the form element with the index - key, a pointer to a DOM element in the form - value)
                var name_map = [];

                $("input[name='elementName[]']").each(function(){
                    let index = $("input[name='elementName[]']").index(this);
                    name_map[`elementName[${index}]`] = $(this);
                });
                $("input[name='value[]']").each(function(){
                    let index = $("input[name='value[]']").index(this);
                    name_map[`value[${index}]`] = $(this);
                });

                var r = jQuery.parseJSON(data.responseText);
                $(".errors").remove();

                //loop that adds error messages to the form
                $.each(r.errors, function(i, v){
                    name_map[v.param].after(`<span style='color:red' class='errors'>${v.msg}</span>`);
                });
            }
        });
        
        
    });


</script>